.hero a,
.faq .btn,
button{
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    background: #0052FF;
    border: none;
    transition: 0.8s;
}

.hero a:hover,
.faq a:hover,
form button:hover{
    background-color: #091291;
    color: #ffffff;
    transition: 0.8s;
}

.accordion-button{
    font-size: 1.3rem!important;
    color: #0052FF!important;
    font-weight: 600;
}